body {
    padding: 0;
    margin: 0;
    background-image: url(https://i.stack.imgur.com/l0JyZ.jpg);
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(2, 2, 56);
    padding: 50px 20px 10px 20px;
}

hr {
    margin: 20px;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    text-align: justify;
    color: rgb(2, 2, 56); 
    margin: 0px 20px 20px 20px;
}

@media (max-width: 600px) {
    p {
        margin: 20px 0px 20px 20px;
        padding-right: 24px;
    }
}

nav {
    background-color: snow;
    width: auto;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.navbar-brand {
    font-family:'Limelight', cursive;
    font-size: 24px;
    color: rgb(2, 2, 56);
    padding: 12px 0px 12px 40px;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 40px;
   
}

.container {
    margin: 80px 40px;
    background-color: rgb(192, 185, 197);
    overflow: auto;
}

@media (max-width: 600px){
    .container {
        margin: 40px 0px;
    }
}

#bioimage {
    float: left;
    max-width: 400px;
    height: auto;
    margin: 0px 20px;
    padding: 10px 0px;
}



